body {
  padding-top: 56px;
}

#home {
  display: grid;
  grid-template-rows: 3fr 1fr;
  height: 100vh;
}

#banner {
  background-color: lightseagreen;
}

#banner .curly-bracket {
  color: red;
  font-size: 1.5em;
}

#banner .profile-picture {
  width: 20em;
  height: auto;
  border-radius: 50%;
}

#banner .name {
  vertical-align: 0.1em;
}

.social-media-links a {
  color: black;
  font-size: 1.2em;
  transition: transform 0.3s;
}

.social-media-links a:hover {
  transform: scale(1.3);
}

#introduction {
  background-color: #343A40;
}

#introduction h5 {
  color: white;
}

#introduction p {
  color: grey;
  text-align: center;
}

#portfolio {
  height: 120vh;
  padding: 5rem 0;
}

.projects-listing {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(3, 40%);                
  margin: 2em auto;
  width: 70vw;
  height: 90%;
}

.project-item {
  background-size: contain;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transition: transform 0.5s;
}

.project-image {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
}

.project-item:hover {
  transform: scale(0.9);
  text-decoration: none; 
}

.project-overlay {
  height: 100%;
  width: 100%;
  background: cyan;
  opacity: 0;
  transition: opacity 0.5s;
  position: absolute;
  top: 0;
  left: 0;
}

.project-overlay:hover {
  opacity: 0.7;
}

.project-item-caption {
  color: black;
  z-index: 1;
  background-color: rgba(256, 256, 256, 0.6);
  text-align: center;
  width: 50%;
  padding: 0.5em;
  margin-bottom: 1em;
}

@media only screen and (max-width: 576px) {
  .projects-listing {
    grid-template-rows: repeat(5, 50%);
    grid-template-columns: none;
    grid-row-gap: 1em;
    width: 90vw;
  }
}